header{max-width:1920px; }
header .top {  background:#333;}
header .top ul{}
header .top ul li{color: #999; font-size: 14px; line-height:32px; position: relative; padding-left: 18px;}
header .top ul li .sent,footer ul li .sent{ background: url("../img/icon.png") 0 -2px no-repeat;display: inline-block; width: 11px; height: 20px; margin-right: 4px; }
header .top ul li .photo,ul li .photo{ background: url("../img/icon.png") -26px 0 no-repeat; display: inline-block; width: 10px; height: 20px; margin-right: 4px;}
header nav{margin: 32px 0;}
header nav ul.nav li a{padding:15px 30px; color: #333333;}
header nav .navbar-brand{padding-top: 0;}
nav div#bs-example-navbar-collapse-1.collapse.navbar-collapse{ height: 50px;}
nav .jian{background: url("../img/icon_j.png") 0 10px no-repeat; display: inline-block; width: 8px; height: 18px; margin-left: 8px;}
nav b.active{background: url("../img/icon_j.png") 0 -32px no-repeat;}
/*新闻区域 */
.wrap .col-md-4 dl{ margin-top: 34px;}
.wrap .col-md-4 dl dd h3{height: 26px; font-size: 18px; line-height: 18px;color: #666666; margin: 16px 0;}
.wrap .col-md-4 dl dd p{font-size: 12px; line-height: 20px; color: #666666; width: 88%; margin: 0 auto;}
 h2.hearder2{color: #262626; font-size: 20px; font-weight: bold; height:20px; line-height: 20px; margin:34px 0 16px;}
/*新闻动态*/
.content{max-width: 1920px; background: #e5e5e5;}
.content h2,.content_bottom h2{ font-size: 20px; height: 31px; line-height: 31px; color: #262626;
    font-weight:bold;}
.content .most_news{width:282px; height:42px; font-size: 18px; line-height: 42px; color: #333; border-bottom: 6px solid #999; text-indent: 16px; margin-top: 22px;}
.content dl.news{}
.content .news dt{ color: #333; font-size: 12px; height:12px; line-height:12px; font-family: 'Tahoma'; font-weight: normal; padding: 16px 0 10px 12px;}
.content .news dd{ color: #333; font-size: 14px; line-height: 14px; border-bottom: 1px solid #999; width: 282px; padding: 10px 0 14px 12px;}
.content .new_center{ width: 282px; margin-top: 24px;}
.content .new_center{ color: #333; font-size: 14px; height: 26px; line-height: 26px;}

.content_bottom{background: #fff;  margin-bottom: 60px;}
.content_bottom .product{border: 1px solid #e8e8e8; border-bottom: none;}
.content_bottom .product .fan{  width: 90%; margin: 0 auto;}
.content_bottom .product .fan h3{ font-size: 16px; height:16px; line-height:16px; color: #415fc3; margin: 32px 0 16px 0; }
.content_bottom .product .fan p{ font-size: 14px;  line-height: 18px;color:#888888; min-height: 36px;}
.content_bottom .product .fan a{ font-size: 12px; height: 12px; line-height: 12px; display: block; color: #666; margin: 16px 0; }
/*底部*/
footer{background: #333;}
footer .container{ position: relative;}
footer ul{ padding: 8px 0; margin-right: 60px; border-bottom: 1px solid #666666; max-width: 536px;}
footer ul li{ color: #999; font-size: 11px; height: 25px; line-height: 25px;}
footer p{color: #999; font-size: 11px; height: 20px; line-height: 20px;  margin:8px 60px 20px 0;}
footer img{ display: block; position: absolute; top: 16px; right: 0;}

@media (max-width:768px) {
    header .navbar-header .navbar-brand img{ height: 40px; padding-top: 5px;
         } }
@media (min-width: 768px) and (max-width: 1018px){
    header nav ul.nav li a{padding:15px 10px; color: #333333; font-size: 16px;}
}
@media (max-width: 992px) {
    header nav{margin: 26px 0;}
    .content_bottom .product{ margin-top: 10px;}

}
